:root {
    --card-width: 400px;
    --card-padding: 12px;
}

.card {
    margin: 1em;
    padding-top: var(--card-padding);
    width: var(--card-width);
}

.btn + .btn {
    margin-left: 0.5em;
}

h1 {
    text-align: center;
}

span.badge {
    font-size: 150%;
    top: 4%;
    right: 5%;
    color: black;
    display: none;
}

div.image {
    width: calc(var(--card-width) - 2*var(--card-padding));
    height: calc(var(--card-width) - 2*var(--card-padding));
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
}
